<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ownOrWant</key>
		<integer>0</integer>
		<key>bookName</key>
		<string>book1</string>
		<key>userName</key>
		<string>lim</string>
		<key>state</key>
		<integer>3</integer>
		<key>isbn</key>
		<string>21232312312312</string>
		<key>image</key>
		<string>photo1.jpg</string>
	</dict>
	<dict>
		<key>ownOrWant</key>
		<integer>0</integer>
		<key>bookName</key>
		<string>book2</string>
		<key>userName</key>
		<string>lim</string>
		<key>state</key>
		<integer>2</integer>
		<key>isbn</key>
		<string>234534534534</string>
		<key>image</key>
		<string>photo2.jpg</string>
	</dict>
	<dict>
		<key>ownOrWant</key>
		<integer>0</integer>
		<key>bookName</key>
		<string>book3</string>
		<key>userName</key>
		<string>lim</string>
		<key>state</key>
		<integer>1</integer>
		<key>isbn</key>
		<string>1231231243424</string>
		<key>image</key>
		<string>photo3.jpg</string>
	</dict>
	<dict>
		<key>ownOrWant</key>
		<integer>1</integer>
		<key>bookName</key>
		<string>book4</string>
		<key>userName</key>
		<string>kim</string>
		<key>state</key>
		<integer>4</integer>
		<key>isbn</key>
		<string>12312314345566</string>
		<key>image</key>
		<string>photo4.jpg</string>
	</dict>
	<dict>
		<key>ownOrWant</key>
		<integer>1</integer>
		<key>bookName</key>
		<string>book5</string>
		<key>userName</key>
		<string>lim</string>
		<key>state</key>
		<integer>5</integer>
		<key>isbn</key>
		<string>65745345342</string>
		<key>image</key>
		<string>photo5.jpg</string>
	</dict>
</array>
</plist>
